<div class="p-3">A responsive angular logging application demonstrating local storage, state features, asynchronous data sharing and communication between sibling components.
    Look me up on&nbsp;<a href="https://github.com/RahulSengupta13/DevLogger" target="_blank">git</a>!
</div>
<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Add a log.." name="text" [(ngModel)]="text">
    </div>
    <input type="submit" value="{{submitButton}}" class="btn btn-light"
    [disabled]="!this.text">
    <button type="button" class="btn btn-warning ml-1"
    [hidden] = "!this.text" (click)="clearState()">Clear</button>
  </form>
</div>